 <section class="welcome_area bg-img background-overlay" style="background-image: url(images/slide-02.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>New Collection</h2>
                        <a href="#" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(images/men2.jpg);">
                        <div class="catagory-content">
                            <a href="#">Men's Section</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(images/women.jpg);">
                        <div class="catagory-content">
                            <a href="#">Women's Section</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
