<form action="/login" method="post">
        <div class="form-group p-4">
            <label for="username">User Name</label>
            <input type="text"
                   class="form-control"
                   id="inputUsername"
                   name="username"
                   placeholder="Enter user Name">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="inputUserpassword"
                   name="password"
                   placeholder="password">
            <input type="submit" class="btn btn-success m-2" value="Submit">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

        </div>
    </form>