.mynavbar {
    background-color: yellow !important;
    font-family: 'Inconsolata', monospace;
}

.mybrand {
    color: white !important;
}

mybrand:hover {
    text-decoration: underline black !important;
}

.main-container {
    background-color:white;
    height: 600px;
}

.login-button {
    background-color: aliceblue !important;
}
