.mynavbar {
    background-color: crimson !important;
    font-family: 'Inconsolata', monospace;
    height: 100px;
    font-size: 25px !important;
}

.mybrand {
    font-size: 25px;
    color: white !important;
}

mybrand:hover {
    text-decoration: underline black !important;
}

.main-container {
    background-color:white;
    height: 600px;
}

.my-slide {
    height: 300px;
}
